
{{ if pager.page_count: }}
<div id="pager">
<div class="alignleft">	
    {{ if pager.prev: }}
	      <a href="?page=1">{{ =_("First Page") }}</a>
		  {{ for i in pager.lead: }}
		  <a href="?page={{=i}}">{{=i}}</a>
		  {{ pass }}
		  &laquo; <a href="?page={{ =pager.prev}}">{{ =_("Prev Page") }}</a>
	 {{ else: }} 
	    &nbsp;  
	 {{ pass }}
</div>
<div class="aligncenter">{{=pager.page_index}}/{{=pager.page_count}}</div>
<div class="alignright">
	{{ if pager.next: }}
		    <a href="?page={{ =pager.next }}">{{ =_("Next Page") }} &raquo;</a>
			{{ for i in pager.follow: }}
		    <a href="?page={{=i}}">{{=i}}</a>
			{{ pass }}
			<a href="?page={{pager.last}}">{{ =_("Last Page") }}</a>
	{{ pass }}
</div>
</div>
{{ pass }}
