{% extends "base.html" %}
{% load ccfilters %}
{% load cctags %}

{% block head_ex %}
{% if users.is_admin %}
<script type="text/javascript" src="/static/js/jquery.blockUI.js"></script>
<script type="text/javascript">
var TCNDDU = TCNDDU || {};
(function(){
	var dropContainer,
		dropListing;
		
	TCNDDU.setup = function () {
	
		dropListing = document.getElementById("content");
		dropContainer = document.getElementById("page");
                
		dropContainer.addEventListener("dragenter", function(event){
			event.stopPropagation();event.preventDefault();
			dropContainer.style.backgroundColor = "red";
		}, false);
		dropContainer.addEventListener("dragover", function(event){
			event.stopPropagation();event.preventDefault();
			dropContainer.style.backgroundColor = "red";
		}, false);
		dropContainer.addEventListener("dragleave", function(event){
			event.stopPropagation();event.preventDefault();
			dropContainer.style.backgroundColor = "transparent";
		}, false);
		dropContainer.addEventListener("drop", function(event){
			event.stopPropagation();event.preventDefault();
			dropContainer.style.backgroundColor = "transparent";
			TCNDDU.handleDrop(event);
		}, false);
	};
            
	TCNDDU.uploadError = function (error) {
		console.log("error: " + error.code);
	};
            
	TCNDDU.processXHR = function (container, file, index, bin) {
        var xhr = new 
			XMLHttpRequest(),
			//container = document.getElementById("item"+index),
			fileUpload = xhr.upload,
			progressBarWidth;
		
		progressDomElements = [
			document.createElement('div'),
			document.createElement('p')
		];
		progressDomElements[0].className = "progressBar";
		progressDomElements[1].textContent = "0%";
		progressDomElements[0].appendChild(progressDomElements[1]);
		container.appendChild(progressDomElements[0]);
		fileUpload.log = container;
		
		progressBarWidth = progressDomElements[0].clientWidth;
		
		fileUpload.addEventListener("progress", function(event) {
			if (event.lengthComputable) {
				var percentage = Math.round((event.loaded * 100) / event.total),
				loaderIndicator = container.firstChild.nextSibling.nextSibling.firstChild;
				if (percentage < 100) {
					loaderIndicator.style.width = (percentage*progressBarWidth/100) + "px";
					loaderIndicator.textContent = percentage + "%";
				}
			}
		}, false);
		
		fileUpload.addEventListener("load", function(event) {
			container.className = "loaded";
		}, false);
		
		fileUpload.addEventListener("error", TCNDDU.uploadError, false);
		
		xhr.open("POST", "/admin/uploadv2/");
		xhr.overrideMimeType('text/plain; charset=x-user-defined-binary'); 
		xhr.setRequestHeader('Content-Disposition', {{album.id}}+';'+file.name);
		xhr.sendAsBinary(bin);
		/*if(xhr.sendAsBinary) xhr.sendAsBinary(bin);	
		else xhr.send(file);*/
	};
            
	TCNDDU.handleDrop = function (event) {
		var dt = event.dataTransfer,
		    files = dt.files,
		    count = files.length;
                
		for (var i = 0; i < count; i++) { 
			if(files[i].size < 8*1000*1000) {
				var file = files[i],
					droppedFileName = file.name,
					reader = new FileReader();
				reader.index = i;
				reader.file = file;
				
		   		reader.addEventListener("loadend", TCNDDU.buildImageListItem, false);
			    reader.readAsDataURL(file);
				
		    } 
			else {
		        alert("file is too big, needs to be below 8mb");
		    } 
		}
	};
            
	TCNDDU.buildImageListItem = function (event) {
        var domElements = [
			document.createElement('div'),
			document.createElement('a'),
			document.createElement('img'),
			document.createElement('div')
		];      
		var data = event.target.result, 
			index = event.target.index, 
			file = event.target.file, 
			imgPreviewFragment = document.createDocumentFragment(),
			getBinaryDataReader = new FileReader();
			
			
		domElements[2].src = data; // base64 encoded string of local file(s) 
		domElements[1].appendChild(domElements[2]); 
		domElements[1].href = "/{{album.name}}/"+file.name;
		domElements[3].id = "description";
		domElements[0].id = "thumb"; 
		domElements[0].appendChild(domElements[1]); 
		domElements[0].appendChild(domElements[3]);
		domElements[0].className = "loading";
		
		imgPreviewFragment.appendChild(domElements[0]); 
		
		dropListing.appendChild(imgPreviewFragment); 
		
		getBinaryDataReader.addEventListener("loadend", function(evt){
			TCNDDU.processXHR(domElements[0], file, index, evt.target.result);
	    }, false);
		getBinaryDataReader.readAsBinaryString(file);
	};
            
	window.addEventListener("load", TCNDDU.setup, false);
})();

var get_selected_photos  = function() {
	var selected_id_list = new Array();
    $.each($('.selectedphotos'), function() {
            if ($(this).attr('checked')){
                    selected_id_list.push(this.id);
                }
    });
    return selected_id_list;
};

$(document).ready(function() {
	$("#deleteselected").click(function() {
		$("#page").block({ message: $('#deletequestion'), css: { width: '375px' } });
    });
	$('#deleteyes').click(function() {
        var selected_id_list = get_selected_photos();
        if (selected_id_list.length == 0){
            $("#page").unblock();
            return;
        }

        $("#page").block({message: '<h1>{% _ "Deleting Selected Photos..." %}</h1>',
		                css: { border: '1px solid #60a0c0',width:"400px" }
		            });
        $.getJSON("{{gallery_settings.baseurl}}/admin/ajaxaction/?action=deletephoto",
                { 'idlist': selected_id_list.join(',')},
       	        function(json){
                  	 if (json.result=='ok') {
                  	 }
                  	 else
                  	 {
                 	 	alert(json.msg);
                  	 }
                     window.location.reload();
        });
    });
	$('#deleteno').click( function() {$("#page").unblock(); });


    $("#moveselected").click(function() {
		$("#page").block({message: '<h1>{% _ "Moving Selected Photos..." %}</h1>',
		                css: { border: '1px solid #60a0c0',width:"400px" }
		            });
        var selected_id_list = get_selected_photos();
        if (selected_id_list.length == 0){
            $("#page").unblock();
            return;
        }

        var ablumid = '{{album.id}}';
        var newalbumid = $("#selectalbum option:selected").attr('value');
        if (newalbumid == ablumid)
        {
            $("#page").unblock();
            return;
        }

        $.getJSON("{{gallery_settings.baseurl}}/admin/ajaxaction/?action=movephoto",
                { 'idlist': selected_id_list.join(','),
                  'albumid': ablumid,
                  'newalbumid': newalbumid},
       	        function(json){
                  	 if (json.result=='ok') {
                  	 }
                  	 else
                  	 {
                 	 	alert(json.msg);
                  	 }
                     window.location.reload();
        });
    });
});
</script>
{% endif %}  
{% endblock %}

{% block commandbar %}
        <li>|</li>
        <li><a href="/showslider/{{album.name}}/">{% _ "Slide Show" %}</a></a></li>
		{% if users.is_admin %}
        <li>|</li>
        <li><a href="#" id="deleteselected">{% _ "Delete Selected"%}</a></li>
        <li>|</li>
        <li><a href="#" id="moveselected">{% _ "Move Selected to:"%}</a></li>
        <li><select id="selectalbum" name="selectalbum">
                {% for ab in allalbums %}
                <option value="{{ab.id}}">{{ab.name}}
                {% if not ab.public %} ({% _ "private"%}) {% endif %}
                </option>
                {% endfor %}
            </select>
        </li>
        {% endif %}
{% endblock %}
   
{% block page %}
<div id="page">
        {% include 'pager.html' %}
        <!-- start content -->
        <div id="content">
        {% if not photos %}
            {% _ "no photo found" %}
        {% else %}
	        {% for photo in photos %}
	         <div id="thumb">
	            <a href="/{{photo.album.name}}/{{photo.name}}"><img src="/thumb/{{photo.id}}.png"/></a>
	            <div id="description">
				 {{photo.description|truncate_chinese_words:30}}
				 {% if users.is_admin %}
                 <input class="selectedphotos" id="{{photo.id}}" value="{{photo.id}}" type="checkbox"/>
                 {% endif %}
				</div>
	         </div>
	         {% endfor %}
         {% endif %}
         </div>
		 
		{% if users.is_admin %}
         <div id="deletequestion" style="display:none; cursor: default; color: red;">
           <h1>{% _ 'R you seriously delete selected photos?' %}</h1>
           <input type="button" id="deleteno" value="{% _ 'No, I just try the button'%}" />
           <input type="button" id="deleteyes" value="{% _ 'Yes, just delete it'%}" />
        </div>
        {% endif %}
		
        <!-- end content -->
        {% include 'pager.html' %}
    <div style="clear: both;">&nbsp;</div>
</div>
{% endblock %}