{% load cctags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Plain Office
Description: A two-column, fixed-width blog design.
Version    : 1.0
Released   : 20071001

-->
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{gallery_settings.title}}</title>
<meta content="" name="keywords"/>
<meta content="" name="description"/>
<link media="screen" type="text/css" rel="stylesheet" href="/static/styles/default.css"/>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#dropmenu').hover(
			function() { $('ul', this).show(); },
			function() { $('ul', this).hide(); });
});
</script>
{% block head_ex %} {% endblock %}
</head>
<body>
<!-- start header -->
<div id="logo">
    <h1><a href="{{gallery_settings.baseurl}}">{{gallery_settings.title}}</a></h1> 
    <div id="subtitle"> {{gallery_settings.description}}</div>
    <div id="admin_search">
    <div id="admin">
            <a href="/?lang=zh-cn">中文版</a> | <a href="/?lang=en-us">English Version</a> | 
    		   {% if users.is_admin %}
            <a href="/admin/settings/">{% _ "Admin" %}</a> | 
            {% endif %}
            {% if users.get_current_user %}
            <a href="/logout/">{% _ "Logout" %}</a>
            {% else %}
            <a href="/login/">{% _ "Login" %}</a>
            {% endif %}
            |<a href="/feed"><img src="/static/images/rss.gif" alt="RSS"></a> 
    </div>
    {% include 'searchbox.html' %}
    </div>
</div>
<div id="menu">
   <div id="navigation">
       <ul>
        <li id="dropmenu">
		  <a href="{{gallery_settings.baseurl}}">{% _ "All Albums" %}</a>
		  {% if allalbums %}
            <ul>
              {% for ab in allalbums %}
              <li><a href="{{gallery_settings.baseurl}}/{{ab.name}}/">{{ab.name}}
                    {% if not ab.public %} ({% _ "private" %}) {% endif %}
              </a></li>
              {% endfor %}
     	    </ul>
		  {% endif %}
		</li> 
        {% if album %}
        <li>&gt;&gt;</li>
        <li><a href="{{gallery_settings.baseurl}}/{{album.name}}/">{{album.name}}</a> </li>
        {% endif %}
        {% if photo %}
        <li>&gt;&gt;</li>
        <li><a href="{{gallery_settings.baseurl}}/{{album.name}}/{{photo.name}}">{{photo.name}}</a> </li>
        {% endif %}
        {% block ex_navigation %} {% endblock %}
       </ul>
   </div>
   
   
   <div id="commandbar">
       <ul>
       {% if users.is_admin %}
        <li><a href="/admin/uploadphoto/">{% _ "Add Photos" %}</a></li> 
        <li>|</li>
        <li><a href="/admin/album/">{% _ "Albums Manage" %}</a></li>
       {% endif %}
        {% block commandbar %} 
        {% endblock %}
       </ul>
	</div>
   
</div>
<!-- end header -->
<!-- start page -->
{% block page %}{% endblock %}
<!-- end page -->
<div style="clear: both;">&nbsp;</div>
<div id="footer">
    <p>Powered by  <a href="http://code.google.com/p/gaephotos/">GAEPhotos</a>. Theme by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>